*{
    text-decoration: none;
    color: black;
        list-style-type: none;
    font-family: "Raleway";
    
}

.wrapper{
    margin: 0 30px;
}
body{
    margin: 10px 0 0 0;
}
.titre{
    font-size: 25px;
    font-weight: bold;
}