/* Bloc hébergement */
#hotel{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.hebergement{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    border-radius: 15px;
    background-color: #F2F2F2;
    flex-basis: 66%;
}

.hebergement__contenu{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;

}
.card h2{
font-size: 15px;
margin: 0 0 10px 10px;
}
.card p{
font-size: 12px;
margin: 0 0 10px 10px;
}
.hebergement__card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;
    flex-basis: 31%;
    gap: 0.5rem;
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 25%);
}
.hebergement__card img{
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.populaire{
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
    background-color: #F2F2F2;
    border-radius: 15px;
}
.populaire__titre{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}
.populaire__titre i{
    font-size: 20px;
}
.populaire__card{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 25%);
}
.populaire__contenu{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 1rem 1rem 1rem;
}
.populaire__contenu img{
    width: 8.5rem;
    height: 8.5rem;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
    border: 5px solid white;
}
.bleu{
    color: #0065FC;
}
.gris{
    color: #F2F2F2;
}
.star{
    margin: 0 10px 10px 10px;
}
